.collection_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.preview_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .preview_container {
    flex-direction: column;
  }
}
.title {
  font-size: 28px;
  margin-bottom: 10px;
  cursor: pointer;
}
